<div class="flexible-container">
  <h1>Group decisions made easy.</h1>
  <ul id=landing-steps class="section inline-list">
    <li>
      <div class="icon">p</div>
      <h2>Create</h2>
      <h3>To get started, simply give your Yabble a title and description.</h3>
    </li>
    <li>
      <div class="icon">u</div>
      <h2>Invite</h2>
      <h3>Invite people who should be involved in the decision making process.</h3>
    </li>
    <li>
      <div class="icon">d</div>
      <h2>Decide</h2>
      <h3>Add suggestions, comment, vote and come to an eventual decision.</h3>
    </li>
  </ul>
  <a id=button-landing-create href=#appUrl("/new") class="button">Create a Yabble</a>
</div>