<div class="flexible-container">
  <h1>Group decisions made easy.</h1>
  <div id=landing-steps class="section inline-list">
    <a href=#create-yabble>
      <div class="icon">p</div>
      <h2>Create</h2>
      <h4>To get started, simply give your Yabble a title and description.</h4>
    </a>
    <a href=#create-yabble>
      <div class="icon">u</div>
      <h2>Invite</h2>
      <h4>Invite people who should be involved in the decision making process.</h4>
    </a>
    <a href=#create-yabble>
      <div class="icon">d</div>
      <h2>Decide</h2>
      <h4>Add suggestions, comment, vote and come to an eventual decision.</h4>
    </a>
  </div>
  <div id=landing-explanation class="section">
    #parse('svg/group-decision.html')
    <div>
      <h2>Yabble is great for things like:</h2>
      <ul class="bulleted-list">
        <li>Choosing a movie to see with your friends.</li>
        <li>Planning activities for an upcoming trip.</li>
        <li>Selecting a restaraunt for date night.</li>
        <li>Choosing a theme for an upcoming party.</li>
      </ul>
    </div>
  </div>
</div>
#parse("new.html")