#if($__optUser.isDefined())
  #set($isHelpful = $item.optionalVoteByUser($__user.id()).isDefined())
#else
  #set($isHelpful = false)
#end
#set($hasVotes = $item.votes().size() > 0)
<div id="list-item" class="flexible-container">
  <a href=#appUrl("/list/$list.id()/$list.slug()") class="button back-button full-width">
    Back to List: &ldquo;$list.title()&rdquo;
  </a>
  <div id="list-item-meta">
    #squareUserImage($item.user(), 44)
    <span class="username">#userDisplayName($item.user())</span>
  </div>
  #if($item.images().nonEmpty())
    #set($i = $item.images().head())
    <a href=#transformImageUrl($i, "w-506") target=_blank class="list-item-image">
      <img src=#transformImageUrl($i, "w-506")
           width="506"
           height="$__imageService.getDimensionsByImageAndTransform($i.id(), 'w-506').height()">
    </a>
  #end
  #set($hideCommentsCount = true)
  #parse('list-item-controls.html')
  #if($item.body().isDefined())
    <h1>#formatUserMarkup($item.body().get(), true)</h1>
  #end
  <div class="tabs">
    <a name=comments class="tab active-tab">
      Comments (<span class="comment-count">$item.comments().size()</span>)
    </a>
  </div>
  <div class="tab-content active-tab-content comments-list">
    <ul>
      #foreach($comment in $item.comments())
        <li class="comment list-item-with-user-image">
          #if($__optUser.isDefined() && $__user.id() == $comment.user().id())
            <a href=#appUrl("/x/list/$list.id()/item/$item.id()/comment/$comment.id()/delete")
               class="icon comment-delete">x</a>
          #end
          #squareUserImage($comment.user(), 54)
          <span class=username>#userDisplayName($comment.user())</span>
          &nbsp;<span class=small-bullet>&bull;</span>&nbsp;
          <span class=comment-posted-date>$Format.timeAgo($comment.creationDate(), $__user.tz())</span>
          <p>#m($comment.body(), true)</p>
        </li>
      #end
    </ul>
    <form
        method=post
        class="list-item-with-user-image add-comment-form""
        action=#appUrl("/x/list/$list.id()/item/$item.id()/comment")>
      #if($__optUser.isDefined())
        #squareUserImage($__user, 54)
        <input type="hidden" name="username" value="#userDisplayName($__user)">
        <input type="hidden" name="user-image-url" value="#squareUserImageUrl($__user, 54)">
      #end
      <textarea name=body class=full-width placeholder="Say something awesome&hellip;"></textarea>
      <div class=clearfix><input type=submit class="orange-button float-right" value="COMMENT"></div>
    </form>
  </div>
</div>
