<div id="list-header">
  <h1 class="flexible-container">#formatUserMarkup($list.title(), true)</h1>
</div>
<div id="list-content">
  <div id="list-contributors">
    <div class="flexible-container">
      <div id="list-contributors-menu" class="menu-trigger">
        #set($contribCount = $list.users().size() + 1)
        <span class="contributors-count">$contribCount</span> contributors <span class="arrow" data-menu-close-trigger=true></span>
        <ul class="menu">
          <li>
            #userDisplayName($list.user())
          </li>
          #foreach($contributor in $list.users())
            <li>
             #userDisplayName($contributor)
              &nbsp;&nbsp;<a href=#appUrl("/x/list/$list.id()/unvite?user=$contributor.id()") class="icon remove-contributor">x</a>
            </li>
          #end
        </ul>
      </div>
      <form id=form-invite-to-list method=post action=#appUrl("/x/list/$list.id()/invite")>
        <input type=email name=email id=email placeholder="yourfriend@gmail.com">
        <span id=success-indicator class=icon>c</span>
        <input type=submit class="icon" value="+">
      </form>
    </div>
  </div>
  <div class="tabs flexible-container">
    <a href=#appUrl("/list/$list.id()")
       data-tab-content-id=list-items
       class="tab#if(!$tabId || $tabId == "" || $tabId == "list-items") active-tab#end">
       Options ($list.items().size())
    </a>
    <a href=#appUrl("/list/$list.id()/$list.slug()/tab/list-activity")
       data-tab-content-id=list-activity
       class="tab#if($tabId == "list-activity") active-tab#end">
      Activity ($history.size())
    </a>
  </div>
  <div id="list-items" class="tab-content#if(!$tabId || $tabId == "" || $tabId == "list-items") active-tab-content#end">
    <div class="flexible-container">
      <div class=text-center><a id=button-add-item data-list-external-id=$list.id() class="orange-button button">Add Option</a></div>
      <ul>
        #foreach($item in $list.items())
          <li class="list-item" data-item-id="$item.id()">
            <span class="list-item-content">
              #if($item.images().nonEmpty())
                #set($i = $item.images().head())
                 <a href=#appUrl("/list/$list.id()/item/$item.id()")
                    class="list-item-image is-loading">
                   <img src="#transformImageUrl($i, 'w-325')"
                        width="325"
                        height="$__imageService.getDimensionsByImageAndTransform($i.id(), 'w-325').height()">
                 </a>
              #end
              <span class="list-item-body">
                #if ($item.title().isDefined())
                  #formatUserMarkup($item.title().get(), true)
                #end

                #if ($item.body().isDefined())
                  #formatUserMarkup($item.body().get(), true)
                #end
              </span>
            </span>
            <span class="list-item-controls">
              #if($__optUser.isDefined())
                #set($isHelpful = $item.optionalVoteByUser($__user.id()).isDefined())
              #else
                #set($isHelpful = false)
              #end
              #set($hasVotes = $item.votes().size() > 0)
              #set($voteUrl = "/x/list/$list.id()/item/$item.id()/vote")
              #if($isHelpful)
                #set($voteUrl = "$voteUrl/delete")              
              #end
              <a href=#appUrl("$voteUrl")
                 class="button-toggle-list-item-vote button gray-button #if($isHelpful) has-voted#end">
                <span class="icon">U</span>
                #if($isHelpful) 
                  Remove your vote
                #else
                  Vote for this option
                #end
              </a>
              <span class="list-item-vote-count">
                <span class="icon">U</span>
                #set($itemVoteCount = $item.votes().size())
                #if($itemVoteCount == 0)
                  no one has voted for this option
                #elseif($itemVoteCount < 3) 
                  #foreach($vote in $item.votes())
                    #if($foreach.index > 0)
                      ,
                    #end
                    #if($foreach.index == 2)     
                      and             
                    #end
                    #userDisplayName($vote.user())
                  #end
                  voted for this option
                #else
                  $itemVoteCount people voted for this option
                #end
              </span>              
              <a href=#appUrl("/list/$list.id()/item/$item.id()") class="list-item-comment-count">
                <span class="icon">%</span>
                $item.comments().size() comments</span>
              </a>
            </span>            
          </li>
        #end
      </ul>
    </div>
  </div>  
  <div id="list-activity" class="tab-content#if($tabId == "list-activity") active-tab-content#end">
    <ul class="flexible-container">
      #foreach($h in $history)
        #if("list" == $h.kind())
          #set($action = "created this list")
          #set($body = $Format.escapeHtml($TextUtils.firstNChars($list.title(), 200)))
        #elseif("list.comment" == $h.kind())
          #set($action = "commented on the <a href=/list/$list.id()/$list.slug()/tab/list-comments>list</a>")
          #set($body = "<a href=/list/$list.id()/$list.slug()/tab/list-comments>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
        #elseif("list.item" == $h.kind())
          #set($action = "added an <a href=/list/$list.id()/item/$h.item().id()>item</a>")
          #set($body = "<a href=/list/$list.id()/item/$h.item().id()>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
        #elseif("list.item.comment" == $h.kind())
          #if($h.refItem().isDefined())
            #set($action = "commented on <a href=/list/$list.id()/item/$h.refItem().get().id()>an item</a>")
            #set($body = "<a href=/list/$list.id()/item/$h.refItem().get().id()>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
          #else
            #set($action = "commented on an item")
            #set($body = $Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200)))
          #end
        #elseif("list.item.vote" == $h.kind())
          #if($h.refItem().isDefined())
            #set($action = "marked an <a href=/list/$list.id()/item/$h.refItem().get().id()>item</a> helpful")
            #set($body = "<a href=/list/$list.id()/item/$h.refItem().get().id()>$Format.escapeHtml($TextUtils.firstNChars($h.refItem().get().body(), 200))</a>")
          #else
            #set($action = "marked an item helpful")
            #set($body = "")
          #end
        #end
      <li class="list-item-with-user-image">
        #squareUserImage($h.user(), 54)
        <span class="username">#userDisplayName($h.user())</span>
        <span class="history-action">$action</span>
        <span class="history-timestamp">
          #if($__optUser.isDefined())
            $Format.timeAgo($h.eventDate(), $__user.tz())
          #else
            $Format.timeAgo($h.eventDate())
          #end
        </span>
        #if($body != "")
          <p>&ldquo;$body&rdquo;</p>
        #end
      </li>
      #end
    </ul>
  </div>
</div>
