#formatUserMarkup($list.title(), false)
#*
<div id="list-header">
  <h1 class="flexible-container">#e($list.title())</h1><br>
  <div id="list-body">
    <h2 class="flexible-container">
      #if($list.body().isDefined())
        #set($body = $list.body().get())
      #else
        #set($body = "@$un&rsquo;s Yabble")
      #end
      #m($!body, true)
    </h2>
  </div>
</div>
<div id="list-content">
  <div id="list-contributors">
    <div class="flexible-container">
      <div id="list-contributors-menu" class="menu-trigger">
        #set($contribCount = $list.users().size() + 1)
        <span class="contributors-count">$contribCount</span> contributors <span class="arrow" data-menu-close-trigger=true></span>
        <ul class="menu">
          <li>
            #userDisplayName($list.user())
          </li>
          #foreach($contributor in $list.users())
            <li>
             #userDisplayName($contributor)
              &nbsp;&nbsp;<a href=#appUrl("/list/$list.externalId()/unvite?user-id=$contributor.Id") class="icon remove-contributor">x</a>
            </li>
          #end
        </ul>
      </div>
      <form id=form-invite-to-list method=post action=#appUrl("/list/$list.externalId()/invite")>
        <input type=email name=email id=email placeholder="yourfriend@gmail.com">
        <input type=submit class="icon" value="+">
      </form>
    </div>
  </div>
  <div class="tabs flexible-container">
    <a href=#appUrl("/list/$list.externalId()")
       data-tab-content-id=list-items
       class="tab#if(!$tabId || $tabId == "" || $tabId == "list-items") active-tab#end">
      Choices ($list.items().size())
    </a>
    <a href=#appUrl("/list/$list.externalId()/$list.slug()/tab/list-comments")
       data-tab-content-id=list-comments
       class="tab#if($tabId == "list-comments") active-tab#end">
      Comments (<span class="comment-count">$list.comments().size()</span>)
    </a>
    <a href=#appUrl("/list/$list.externalId()/$list.slug()/tab/list-activity")
       data-tab-content-id=list-activity
       class="tab#if($tabId == "list-activity") active-tab#end">
      Activity ($history.size())
    </a>
  </div>
  <div id="list-items" class="tab-content#if(!$tabId || $tabId == "" || $tabId == "list-items") active-tab-content#end">
    <div class="flexible-container">
      <div class="clearfix"><a id=button-add-item data-list-external-id=$list.externalId() class="orange-button button float-right">Add Choice</a></div>
      <ul>
        #foreach($item in $list.items())
          <li class="list-item" data-item-id="$item.externalId()">
            <span class="list-item-controls">
              #if($__optUser.isPresent())
                #set($isHelpful = $item.optionalVoteByUser($__user.Id).isDefined())
              #else
                #set($isHelpful = false)
              #end
              #set($hasVotes = $item.votes().size() > 0)
              <a href=#appUrl("/list/$list.externalId()/item/$item.externalId()/vote")
                 class="button-toggle-list-item-vote #if($hasVotes) tooltip-trigger#end#if($isHelpful) has-voted#end">
                <span class="icon">U</span>
                <span class="list-item-vote-count">$item.votes().size()</span>
                #if($hasVotes)
                  <span class="tooltip tooltip-after">
                    <span class="pointer"><span></span></span>
                    <ul>
                      #foreach($vote in $item.votes())
                        <li>#userDisplayName($vote.user())</li>
                      #end
                    </ul
                  </span>
                #end
              </a>
              <span class="list-item-comment-icon icon">%</span>
              <span class="list-item-comment-count">$item.comments().size()</span>
            </span>
            <span class="list-item-content">
              #if(!$item.images().isEmpty())
                #set($i = $item.images().get(0))
                 <a href='#appUrl("/list/$list.externalId()/item/$item.externalId()")'
                    class="list-item-image">
                   <img src="#transformImageUrl($i, 'w-325')"
                        width="325"
                        height="$__imageService.getDimensionsByImageAndTransform($i.getId(), 'w-325').getHeight()">
                 </a>
              #elseif(!$item.externalImages.isEmpty())
                #set($i = $item.externalImages().get(0))
                 <a href='#appUrl("/list/$list.externalId()/item/$item.externalId()")'
                    class="list-item-image">
                   <img src="$i.url()" width="325">
                 </a>
              #end
              <span class="list-item-body">
                #m($item.body(), true)
              </span>
            </span>
          </li>
        #end
      </ul>
    </div>
  </div>
  <div id=list-comments class="tab-content#if($tabId == "list-comments") active-tab-content#end">
    <div class="comments-list flexible-container">
      <ul>
        #foreach($comment in $list.comments())
          <li class="comment list-item-with-user-image">
            #if($__optUser.isPresent() && $__user.Id == $comment.user().Id)
              <a href=#appUrl("/list/$list.externalId()/comment/$comment.externalId()/delete")
                 class="icon comment-delete">x</a>
            #end
            #profileImage($comment.user(), 54)
            <span class=username>#userDisplayName($comment.user())</span>
            &nbsp;<span class=small-bullet>&bull;</span>&nbsp;
            <span class=comment-posted-date>$Format.timeAgo($comment.creationDate(), $__user.Tz)</span>
            <p>#m($comment.body(), true)</p>
          </li>
        #end
      </ul>
      <form
          id=frm-add-list-comment
          class="list-item-with-user-image add-comment-form"
          method=post
          action=#appUrl("/list/$list.externalId()/comment")>
        #if($__optUser.isPresent())
          #profileImage($__user, 54)
          <input type="hidden" name="username" value="#userDisplayName($__user)">
          <input type="hidden" name="user-image-url" value="#profileImageUrl($__user, 54)">
        #end
        <textarea name=body class=full-width placeholder="Say something awesome&hellip;"></textarea>
        <div class=clearfix><input type=submit class="orange-button float-right" value="COMMENT"></div>
      </form>
    </div>
  </div>
  <div id="list-activity" class="tab-content#if($tabId == "list-activity") active-tab-content#end">
    <ul class="flexible-container">
      #foreach($h in $history)
        #if("list" == $h.kind())
          #set($action = "created this list")
          #set($body = $Format.escapeHtml($TextUtils.firstNChars($list.title(), 200)))
        #elseif("list.comment" == $h.kind())
          #set($action = "commented on the <a href=/list/$list.externalId()/$list.slug()/tab/list-comments>list</a>")
          #set($body = "<a href=/list/$list.externalId()/$list.slug()/tab/list-comments>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
        #elseif("list.item" == $h.kind())
          #set($action = "added an <a href=/list/$list.externalId()/item/$h.item().externalId()>item</a>")
          #set($body = "<a href=/list/$list.externalId()/item/$h.item().externalId()>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
        #elseif("list.item.comment" == $h.kind())
          #if($h.refItem().isDefined())
            #set($action = "commented on <a href=/list/$list.externalId()/item/$h.refItem().get().externalId()>an item</a>")
            #set($body = "<a href=/list/$list.externalId()/item/$h.refItem().get().externalId()>$Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200))</a>")
          #else
            #set($action = "commented on an item")
            #set($body = $Format.escapeHtml($TextUtils.firstNChars($h.item().body(), 200)))
          #end
        #elseif("list.item.vote" == $h.kind())
          #if($h.refItem().isDefined())
            #set($action = "marked an <a href=/list/$list.externalId()/item/$h.refItem().get().externalId()>item</a> helpful")
            #set($body = "<a href=/list/$list.externalId()/item/$h.refItem().get().externalId()>$Format.escapeHtml($TextUtils.firstNChars($h.refItem().get().body(), 200))</a>")
          #else
            #set($action = "marked an item helpful")
            #set($body = "")
          #end
        #end
      <li class="list-item-with-user-image">
        #profileImage($h.user(), 49)
        <span class="username">#userDisplayName($h.user())</span>
        <span class="history-action">$action</span>
        <span class="history-timestamp">$Format.timeAgo($h.eventDate(), $__user.Tz)</span>
        #if($body != "")
          <p>&ldquo;$body&rdquo;</p>
        #end
      </li>
      #end
    </ul>
  </div>
</div>

*#
