<div class=flexible-container>
  <form action=#appUrl("/login") method=post>
    <h1>Login</h1>
    <div class=form-row>
      <label for=name>Email:</label>
      <input
          id=name
          type=text
          name=name
          value='$!form.Name.Value'
          placeholder='Enter your email address or username'
          class=full-width>
      #if(!$form.Name.ErrorMessageList.isEmpty())
        <div class="form-error">#message($form.Name.ErrorMessageList.get(0).Code)</div>
      #end
    </div>
    <div class=form-row>
      <label for=password>Password:</label>
      <input
          id=password
          type=password
          name=password
          value='$!form.Password.Value'
          placeholder='Enter your password'
          class=full-width>
      #if(!$form.Password.ErrorMessageList.isEmpty())
        <div class="form-error">#message($form.Password.ErrorMessageList.get(0).Code)</div>
      #end
    </div>
    <input type=submit value="LOGIN" class="centered-submit">
  </form>
  <form action=#appUrl("/forgot") method=post class=section>
    <h2>Forgot your password?</h2>
    <div class=form-row>
      <label for=forgot-email>Email:</label>
      <input
          id=forgot-email
          type=text
          name=name
          value='$!form.Name.Value'
          placeholder='Enter your email address or username'
          class=full-width>
      #if(!$form.Name.ErrorMessageList.isEmpty())
        <div class="form-error">#message($form.Name.ErrorMessageList.get(0).Code)</div>
      #end
    </div>
    <input type=submit value="SUBMIT" class="centered-submit">
  </form>
</div>

