<div class=flexible-container>
  <h2>User</h2>
  #if ($__optUser.isDefined())
    <table>
      <tr>
        <th>ID</th><td>$__user.id()</td>
      </tr>
      <tr>
        <th>name</th><td>$__user.name()</td>
      </tr>
      <tr>
        <th>email</th><td>$__user.email()</td>
      </tr>
    </table>

    #if ($myLists.nonEmpty())
    <h3>My Lists</h3>
    <ul>
      #foreach ($l in $myLists)
      <li>
        <p style='margin-bottom: 3px;'><a href=#appUrl("/list/$l.id()/$l.slug()") style='font-weight: bold;'>$l.title()</a></p>
        <p style='margin-top: 3px; font-size: 80%;'>
          Subscription: 
          <a href=#appUrl("/x/list/$l.id()/notification-preference/-1")>Immediate</a><br>
          <a href=#appUrl("/x/list/$l.id()/notification-preference/0")>None</a><br>
          <a href=#appUrl("/x/list/$l.id()/notification-preference/3")>Three/day</a><br>
        </p>
      </li>
      #end
    </ul>
    #end

    #if ($contribLists.nonEmpty())
    <h3>Contrib Lists</h3>
    <ul>
      #foreach ($l in $contribLists)
      <li>
        <p style='margin-bottom: 3px;'><a href=#appUrl("/list/$l.id()/$l.slug()") style='font-weight: bold;'>$l.title()</a></p>
        <p style='margin-top: 3px; font-size: 80%;'>
          Subscription: 
          <a href=#appUrl("/x/list/$l.id()/notification-preference/-1")>Immediate</a><br>
          <a href=#appUrl("/x/list/$l.id()/notification-preference/0")>None</a><br>
          <a href=#appUrl("/x/list/$l.id()/notification-preference/3")>Three/day</a><br>
        </p>
      </li>
      #end
    </ul>
    #end



    <h2>Edit</h2>
    <form method=post>
      <input type=text name=name value='$!form.Name.Value' placeholder='Username'><br>
      <input type=email name=email value='$!form.Email.Value' placeholder='Email'><br>
      <input type=password name=password value='' placeholder='Password'><br>
      <input type=submit value='Submit'>
    </form>
  #else
  <p>You're not logged in.</p>
  #end

  <h2>Session</h2>
  #if ($__optSession.isDefined())
  <pre style='text-align: left;'>
$__session
  </pre>
  #else
  <p>No session is present</p>
  #end
</div>
