<div class=flexible-container>
  <form id=form-new-yabble action=#appUrl("/new") method=post>
    <h1>Create your Yabble</h1>
    <a name=create-yabble></a>
    <div class=form-row>
      <label for=title>What are you trying to decide?</label>
      <textarea
          id=title
          name=title
          placeholder="Describe the decision you&rsquo;re trying to make. The more details you add the more likely your friends and collegues are to participate."
          class="full-width"
          >#if($form)$!form.Title.Value#end</textarea>
    </div>
    <input type=submit value="CREATE" class="centered-submit">
  </form>
</div>