<div id=toolbar>
  <div class="flexible-container centered clearfix">
    <a id=logo href="#appUrl('/')">
      yabble.me
    </a>
    #if ($__optUser.isDefined())
      <a href="#appUrl('/logout')" class="float-right" class="button gray-button float-right">logout #userDisplayName($__user)</a>
    #else
      <a href="#appUrl('/register')" class="button gray-button float-right" >Register</a>
      <a href="#appUrl('/login')" class="button gray-button float-right">Login</a>
    #end
    <a href="#appUrl('/new')" class="button float-right">New Yabble</a>  
  </div>
</div>
