<div id=toolbar>
  <div class="flexible-container centered clearfix">
    <a id=logo href="#appUrl('/')">
      yabble.me
    </a>
    <div id=toolbar-controls class="float-right">
      <a href="#appUrl('/new')" class="button orange-button">New Yabble</a>
      #if ($__optUser.isDefined())
        <span>Logged in as #userName($__user)</span>
        <a href="#appUrl('/logout')">Logout</a>
      #else
        <a href="#appUrl('/login')">Login</a>
        <a href="#appUrl('/register')" >Register</a>
      #end
    </div>
  </div>
</div>
