<li class="comment list-item-with-user-image">
  <span class="user-image">
    <img src={{userImageUrl}} width=54 height=54 alt="{{userName}}" title="{{userName}}">
  </span>
  <span class=username>{{userName}}</span>
  &nbsp;<span class=small-bullet>&bull;</span>&nbsp;
  <span class=comment-posted-date>{{created}}</span>
  <p>{{{body}}}</p>
</li>