<div class=form-row>
  <h3>Awesome! We just need your email address to continue.</h3>
  <h4>
    Giving us your 
    email address allows us to keep you up to date with changes that are made
    to your yabble.
  </h4>  
  <h4>
    You can also <a href=/register?r={{{redirUrl}}}>create an account</a> if you 
    want to login later with an email and password.
  </h4>
</div>
<form method=post>
  <div class=form-row>
    <label for=user-email>Email:</label>
    <input 
      type=email 
      class=full-width 
      name=email 
      id=user-email 
      placeholder="Enter your email address">
  </div>
  <input id=button-submit-user-email type=submit value=SUBMIT>
</form>