<div id=add-item-search-options class=form-row>
  <h3>Find an image to represent your option:</h3>
  <span class=radio-option>
    <input type=radio value=image-search id=type-search name=type checked>
    <label for=type-search class=radio-label>Search for an Image</label>
  </span>
  <span class=radio-option>
    <input type=radio value=image-url id=type-url name=type>
    <label for=type-url class=radio-label>Enter an Image Url</label>
  </span>
</div>  
<a id=add-item-back class="form-row link">
  &laquo; Back
</a>  
<div id=add-item-image-search>
  <form id=form-image-search>
    <div class=form-row>
      <label for=image-query>Search for an Image:</label>
      <input 
        type=text 
        id=image-query 
        name=image-url 
        class=full-width 
        placeholder="Enter something to look for&hellip;">
    </div>
    <input type="submit" value="Search" class=centered-submit>
  </form>
  <ul id=add-item-image-search-results class=inline-list></ul>
</div>
<div id=add-item-image-url>
  <form id=form-image-url>
    <div class=form-row>
      <label for=image-url>Enter an Image Url:</label>
      <input 
        type=text 
        id=image-url 
        name=image-url 
        class=full-width 
        placeholder="http://images.google.com/some/awesome/image.jpg">
    </div>    
    <div id=image-url-preview class=form-row></div>
    <input type="submit" value="Next" class=centered-submit>
  </form>
</div>
<div id=add-item-details>
  <form id=form-item-details method=post action="/new/list/{{listId}}/item">
    <div id=image-preview class="form-row list-item-image"></div>
    <div class=form-row>
      <label for=image-desc>Description:</label>
      <textarea id=add-item-body name=body class=full-width placeholder="Describe the option in detail."></textarea>
    </div>
    <input type="submit" value="Add Item" class=centered-submit>
  </form>
</div>