##
## UI Template Macros
##

#macro(message $code)$__templateMessageSource.getMessage($code)#end

#macro(normalizePath $path)$Utils.normalizePath($path)#end

#macro(appUrl $path)#normalizePath("$__contextPath$path")#end

#macro(staticUrl $path)#normalizePath("$__contextPath/s/$__versionPathPart$path")#end

#macro(formatUserMarkup $s $includeAnchors)$__formatService.formatUserMarkup($s, $includeAnchors)#end
#macro(m $s $includeAnchors)#formatUserMarkup($s, $includeAnchors)#end

#macro(escapeHtml $s)$TextFormat.escapeHtml($s)#end
#macro(e $s)#escapeHtml($s)#end

#macro(imageByUrlAndTransform $url $t)
  #set ($_optTi = $__imageService.optionalOrCreateImageByUrlAndTransform($url, $t))
  #if ($_optTi.isPresent())
    #if ($_optTi.get().isInternal())
      <img
          src="$_optTi.get().secureUrl()"
          width="$_optTi.get().width().get()"
          height="$_optTi.get().height().get()"
          >
    #else
      <img
          #if ($_optTi.get().secureUrl().isDefined())
            src="$_optTi.get().secureUrl()"
          #else
            src="$_optTi.get().url()"
          #end
          >
    #end
  #end
#end

#macro(imagePreset2 $i $t)
  #set ($_optTi = $__imageService.optionalByOriginalIdAndTransform($i.id(), $t, true))
  #if ($_optTi.isPresent())
    <img src="$_optTi.get().secureUrl()" width="$_optTi.get().width().get()" height="$_optTi.get().height().get()">
  #end
#end

#macro(imagePreset $i $t)
  #set ($optImage = $__imageService.optionalByOriginalIdAndTransform($i.id(), $t))
  #if ($optImage.isPresent())
    <img src="/i/$i.id()?t=$t" width="$optImage.get().width().get()" height="$optImage.get().height().get()" />
  #end
#end

#macro(transformImageUrl $i $t)
#set ($_optTi = $__imageService.optionalByOriginalIdAndTransform($i.id(), $t, true))
#if ($_optTi.isPresent())$_optTi.get().secureUrl()#end
#end

#macro(userDisplayName $u)
  #if($u.name().isDefined())
    $u.name().get()
  #elseif($u.email().isDefined())
    $u.email().get()
  #elseif($__optUser.isDefined() && $__user.id() == $u.id())
    You
  #else
    $u.displayName()
  #end
#end

#macro(squareUserImage $u $width)
  <span class="user-image">
    #if ($u.image().isDefined())
      #set ($_optTi = $__imageService.optionalByOriginalIdAndTransform($u.image().get().id(), "s-$width", false))
      #if ($_optTi.isPresent())
        <img
            src="$_optTi.get().secureUrl()"
            alt="#e($u.displayName())"
            title="#e($u.displayName())"
            width="$width"
            height="$width">
      #else
        <img
            src="/i/user/$u.id()?t=s-$width"
            alt="#e($u.displayName())"
            title="#e($u.displayName())"
            width="$width"
            height="$width">
      #end
    #else
      <img
          src="/i/user/$u.id()?t=s-$width"
          alt="#e($u.displayName())"
          title="#e($u.displayName())"
          width="$width"
          height="$width">
    #end
  </span>
#end

#macro(squareUserImageUrl $u $width)
  #if ($u.image().isDefined())
    #set ($_ti = $__imageService.optionalByOriginalIdAndTransform($u.image().get().id(), "s-$width", true))
    #if ($ti.isPresent())
      $_ti.get().urlForScheme($__scheme)
    #else
      $__canonicalBaseUrl/i/user/$u.id()?t=s-$width
    #end
  #else
    $__canonicalBaseUrl/i/user/$u.id()?t=s-$width
  #end
#end
