/*
  landing page styles
*/

  #landing-steps {
    a {
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
      color: #000;
      width: 260px;

      @icon-dimension: 200px;

      .icon {
        font-size: 4em;
        width: @icon-dimension;
        height: @icon-dimension;
        line-height: @icon-dimension;
        background: @blue;
        color: #fff;
        text-align: center;
        .rounded(100px);
        .centered;
      }

      &:hover {
        .icon {
          background: @light-blue;
        }
      }
    }
  }

  #landing-explanation {
    position: relative;
    padding: 0 (@margin-xlarge * 2 + 300) 0 @margin-xlarge;
    text-align: left;
    line-height: 300px;

    > div {
      line-height: 1.4;
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      position: absolute;
      right: @margin-xlarge;
      top: 0;

      circle,
      path {
        fill: @blue;
      }
    }

    ul {
      display: inline-block;
      text-align: left;
      font-size: 1.4em;
    }
  }

  #button-landing-create {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 60px;
    line-height: 60px;
    margin-bottom: @margin-large;
    .centered;
    .rounded(30px);
  }
