<!DOCTYPE html><html>
  <head>
    <title>yabble.me#if($__pageTitle && "$!__pageTitle" != "")&#8212 $__pageTitle#end</title>
    <meta charset=utf-8>
    <meta name=yabble-version-hash content=$__versionPathPart>
    <meta name=viewport content=width=device-width,initial-scale=1>
    <link rel=stylesheet type=text/css href=#staticUrl("/css/main.css")>
  </head>
  <body data-yabbly-enable-logs=true>
    #parse("toolbar.html")
    #if($__content)$__content#end
    #if($__optUser.isDefined())
      <script>
        document.YABBLE_USER = {};
        document.YABBLE_USER.id = '$__user.id()';
        #if($__user.email().isDefined())
          document.YABBLE_USER.email = '$__user.email()';
        #end
        document.YABBLE_USER.displayName = '$__user.displayName()';
      </script>
    #end
    #if($__minifyJs == "true")
      <script src=#staticUrl("/js/main.min.js")></script>
    #else
      <script data-main=#staticUrl("/js/main.js") src=#staticUrl("/js/vendor/require-2.1.10.js")></script>    
    #end
  </body>
</html>
